.ColorScheme {
  text-align: center;
  --pink: #FAF0EA;
  --pink-dark: #D4C9bA;
  --pink-light: #DFD3C6;
  --peach: #E89062;
  --peach-dark: #72442A;
  --peach-extra-dark: #533321;
  --peach-light: #e89f78;
  --blue: #A2D7D2;
  --blue-medium: #65A7AB;
  --blue-dark: #1F4E5C;
  --gold: #DDA438;
  --gold-dark: #9F7724;
  --black: #221F1F;
  --black-65: #6F6866;
  --black-40: #A7A5A5;
  --black-20: #D3D2D2;
  --white: #FFFCFA;
  --white-transparent-30: #fffcfa4d;
}

.titleLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.space-around {
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.margin-top {
  margin-top: 40px;
}

.ticketForm {
  display: flex;
  flex-direction: column;
}

.column1 {
  width: 64vw;
}

.column2 {
  width: 34vw;
}

.app-page {
  background-color: var(--peach);
  border-radius: 5px;
  margin: 5px;
  min-height: calc(100vh - 100px);
  min-width: 746px;
}

.app-container {
  background-color: var(--pink-light);
  padding: 20px 40px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 6px 9px 18px -3px rgb(0 0 0 / 39%);
  border: 3px black inset;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}