body {
  --pink: #faf0ea;
  --pink-dark: #d4c9ba;
  --pink-light: #dfd3c6;
  --peach: #e89062;
  --peach-dark: #72442a;
  --peach-extra-dark: #533321;
  --peach-light: #e89f78;
  --blue: #a2d7d2;
  --blue-medium: #65a7ab;
  --blue-dark: #1f4e5c;
  --gold: #dda438;
  --gold-dark: #9f7724;
  --black: #221f1f;
  --black-65: #6f6866;
  --black-40: #a7a5a5;
  --black-20: #d3d2d2;
  --white: #fffcfa;
  --white-transparent-30: #fffcfa4d;
  background-color: #dfd3c6;
}
.assignment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  margin-right: 30px;
}
.assignment-list-div {
  display: flex;
  background-color: var(--blue-medium);
  flex-wrap: wrap;
  padding-left: 20px;
  border-radius: 5px;
  margin: 30px;
  border: 3px black solid;
  -webkit-box-shadow: 6px 9px 18px -3px rgba(0, 0, 0, 0.39);
  box-shadow: 6px 9px 18px -3px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
  width: 210px;
  flex-direction: column;
  /* align-items: center; */
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.assignment-list-div p {
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.assignment-list-div h3 {
  display: flex;
  text-align: left;
}

.assignment-tile {
  text-decoration: none;
  height: 240px;
  width: 225px;
  margin: 30px;
}

.assignment-tile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.syllabus-title {
  color: black;
  background-color: #6f6866;
  padding: 30px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
}
