

.App {
  text-align: center;
  --pink: #FAF0EA;
  --pink-dark: #D4C9bA;
  --pink-light: #DFD3C6;
  --peach: #E89062;
  --peach-dark: #72442A;
  --peach-extra-dark: #533321;
  --peach-light: #e89f78;
  --blue: #A2D7D2;
  --blue-medium: #65A7AB;
  --blue-dark: #1F4E5C;
  --gold: #DDA438;
  --gold-dark: #9F7724;
  --black: #221F1F;
  --black-65: #6F6866;
  --black-40: #A7A5A5;
  --black-20: #D3D2D2;
  --white: #FFFCFA;
  --white-transparent-30: #fffcfa4d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
